{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <h1 class="text-center">
      Connexion
    </h1>
    <form method="POST" action="">
      <div class="mb-3">
        <label for="email" class="form-label">Votre email:</label>
        <input name="_username" type="email" class="form-control" id="email" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Mot de passe:</label>
        <input name="_password"
          type="password"
          class="form-control"
          id="password" />
      </div>
      <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
  </div>
{% endblock %}
